@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:700|Raleway:300,900');

html, body {
    font-size: 16px;
    background: #f9f9f9;
    color: #000;
}

main.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upper-block {
    padding-top: 1rem;
}

#profile {
    margin: auto;
    background-image: url(image.png);
    width:250px;
    height:250px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
    box-shadow: 0px 6px 7px 1px #ccc;
}

.name {
    margin-top: 1.75rem;
    margin-bottom: 0;
    font-family: 'Libre Bakersville', serif;
    color: #21211f;
    font-size: 7.35rem;
    letter-spacing: -0.5rem;
    padding: 0;
}

.desc {
    margin-top: 0;
    font-family: monospace;
    color: #21211f;
    font-size: 1.25rem;
    line-height: 0;
    font-style: normal;
    letter-spacing: 0.235rem;
    padding: 0 0 0 30rem;
}

.socials {
    display: flex;
    margin-top: 10px;
}

.socials a {
    padding: 0 0.5rem;
    color: #21211f;
}

.socials img {
    width: 24px;
    height: 24px;
    display: block;
}

.nav-buttons button {
    border-radius: 50px;
    font-family: 'Raleway', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.25rem;
    font-size: 0.9rem;
}

.button-link {
    display: inline-block;
    padding: 8px 18px;
    background-color: #222;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
}

.section-block {
    display: none;
}

button {
    padding: 8px 18px;
    background-color: transparent;
    color: #000;
    border-radius: 6px;
    cursor: pointer;
}

/* Responsiveness */
@media all and (max-width: 740px) {
    html, body {
        font-size: 10px;
    }
}

@media all and (max-width: 480px) {
    html, body {
        font-size: 8px;
    }
    .desc {
        font-size: 1.75rem;
        padding: 0 0 0 22rem;
        margin: 1.5rem 0;
    }
    .nav-buttons button {
        font-size: 1.4rem;
    }
}