body {
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
}

.profile-pic {
    max-width:150px;
    max-height:150px; 
    padding: 5px;
    border-radius: 50%;
}

.button-link {
    display: inline-block;
    padding: 8px 18px;
    background-color: #222;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
}

.section-block {
    display: none;
}

button {
    padding: 8px 18px;
    background-color: transparent;
    color: #fff;
    border-radius: 6px;
}